/**************************
* Search Bar Section
**************************/

#search-icon {
  transform: translateX(8px);
  position: absolute;
  height: 34px;
  color: gray;
}

#search-input {
  width: 100%;
  padding-left: 23px;
}
