/**************************
* Ideas Card Section
**************************/

.idea-card {
  width: 100%;
}

.card-btn {
  overflow: hidden;
  width: 110px;
  height: 40px;
}

.card-options {
  display: inline-flex;
  font-family: inherit;
}

.card-stepper-container {
  padding: 0 3%!important;
  height: 40px;
  width: calc(100% - 110px);
}
