/**************************
* Dependencies
**************************/
@import 'bootstrap/scss/bootstrap';

/**************************
* Global Styles
**************************/

body {
  margin: 0;
  overflow-x: hidden;
}

label {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.max-width-960 {
  max-width: 960px;
}
.max-width-720 {
  max-width: 720px;
}

.button-action-bar {
  background-color: #f3f3f3;
  bottom: 0;
  height: 50px;
}

.button-href {
  text-decoration: unset;
  color: white;
}

.button-href:hover {
  color: white;
}

.href-no-underline {
  cursor: pointer;
  text-decoration: unset;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-href {
  text-decoration: unset;
  color: white;
}

.button-href:hover {
  color: white;
}

/* Scrollbar */

:root {
  scrollbar-color: #888 #f1f1f1 !important;
  scrollbar-width: thin !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
