/**************************
* Comment Box
**************************/

#comment-input {
  height: 32px;
}

.buttons-height {
  height: 38px;
}

#comment-input-submit {
  height: 38px;
  margin: 0 5px;
  width: 34px;
}

#comment-input-icon {
  transform: translate(-5px, -1px);
}
